@import url('https://fonts.googleapis.com/css2? family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
 
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(242, 246, 251) ;
}
 


.logo {
    width: 120px;
    height: 50px;
    padding-left: 70px;
    margin-top: 50px;
}


 header {foto
    position: sticky;
    top: 0;
}
 
  
 
nav ul  {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color:black;
    list-style: none;
    align-items: center;
    gap: 30px;
    font-size: 10px;
    margin-right: 100px;
    margin-top: -45px;
    text-decoration: none;
    position: sticky;
    top: 0;
}

 nav ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
 }
  


.download {
    border-radius: 15px;
    color: red;
    border:2px solid red;
    font-size: 10px ;
    font-weight: bold;
    padding: 7px 10px ;
   
}

.amarillo {
    width: 1em;
    float: right;
    margin-right: 200px;
}

.verde {
    width: 1em;
    margin-left: 100px;
}

.c_blanco{
    width: 10em;
    position: relative;
    float: right;
    margin-right: 10px;
    
}



h1 {
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 15px;
    text-align: center;
}

.red-boton {
  display: flex;
  justify-content: center;
  gap: 40px;

}

.red1 {
    background-color: rgb(253, 97, 97);
    color: ghostwhite;
    border-radius: 20px;
    padding: 10px 13px;
    border: 0;
    font-weight: bold;
    flex-wrap: wrap;
    
}

   
.red2 {
    background-color: rgb(253, 97, 97);
    color: ghostwhite;
    border-radius: 20px;
    padding: 10px 13px;
    border: 0;
    font-weight: bold;
    flex-wrap: wrap;
   
} 

.circulo {
   position: relative;
   margin: -90px;
}

.blanco {
    width: 15em;
    margin-left: ;
}

.azul {
    width: 5em;
    position: absolute;
    margin-left: -70px;
  
}

.movil {
    display: flex;
    justify-content: center;
}
.movil1 {
    width: 40em;
   
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
 
.morao4 , .morao5 {
    margin-top: 8px;
}


.foto {
    width: 30em;

}

.foto-texto {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.lightbox {
    background-color: rgb(253, 97, 97);
    color: ghostwhite;
    border-radius: 20px;
    padding: 10px 13px;
    border: 0;
    font-weight: bold;
    flex-wrap: wrap;
   
}

.boton1 {
  display: flex;
  justify-content: center;
}

.calendario {
    margin-bottom: 30px;
}
.boton_reloj {
    color: white;
    background-color: blueviolet;
    padding: 10px 13px;
    border: 0;
    font-weight: bold;
    flex-wrap: wrap;
}  

#primera-seccion {
    margin: 50px    ; 
}

#segunda-seccion {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton_menu {
    padding: 10px 13px;
    border: 0;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    background-color: rgb(218, 221, 223);
}

.boton_calendario {
    padding: 10px 13px;
    border: 0;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    background-color: rgb(218, 221, 223);
}

#parrafo1 {
    text-align: left;
}
#parrafo2 {
    text-align: left;
}

#parrafo3 {
    text-align: left;
}

#parrafo4 {
    text-align: left;
}

.boton3 {
    background-color: rgb(253, 97, 97);
    color: ghostwhite;
    border-radius: 20px;
    padding: 10px 13px;
    border: 0;
    font-weight: bold;
    flex-wrap: wrap;
    
    
}

.boton4 {
    border-radius: 20px;
    padding: 10px 13px;
    border: 1;
    font-weight: bold;
    flex-wrap: wrap;
    
}

.foto-texto1 img {
    width: 30em;
}

#tercera-seccion {
margin-top: 100px;
}
   
h2 {
    text-align: center;
    margin-top: 80px;
}

#comentario1{
    margin-left: 80px;
}

#comentario-1 {
text-align: left;
font-family: cursive;
font-style: italic;
color: darkgray;
}

#firma1 {
    text-align: left;
    margin-left:40px ;
    font-weight: bold;
}

#comentario-2 {
    margin-left: 100px;
}

#comentario__2 {
    text-align: left;
font-family: cursive;
font-style: italic;
color: darkgray;
}

#firma2 {
    text-align: left;
    margin-left:40px ;
    font-weight: bold; 
}

#comentario-3 {
    margin-left: 100px; 
}

#comentario__3 {
    text-align: left;
font-family: cursive;
font-style: italic;
color: darkgray;  
}

#firma3 {
    text-align: left;
   margin-left: 40px ;
    font-weight: bold; 
}

#tercera-seccion {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.imagenes {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap:30px;
   flex-wrap: wrap;

}

#img1 {
    width: 6em;
}